<!DOCTYPE html>
<title>Index - Home</title>

<h1>Home</h1>
<h2>Index</h2>

<h3>しましまになりますよ</h3>
<ul class="shimashima">
    <li>Hauhau</li>
    <li>Maumau</li>
    <li>Homuhomu</li>
    <li class="to-lower">MOGEMOGE(大文字で書いてるけど小文字になるヨ!)</li>
</ul>

<p><img src="http://farm9.staticflickr.com/8452/7978707698_55615f987d.jpg" />altとtitle属性がついてないけどファイル名がセットされてますよ。あとheight属性も。</p>

<div>
    <table>
        <tbody>
            <tr>
                <td><em>はうはう<img src="http://farm9.staticflickr.com/8452/7978707698_55615f987d.jpg" /></em>まうまう</td>
                <td><em>もげもげ<img src="http://farm9.staticflickr.com/8452/7978707698_55615f987d.jpg" /></em></td>
            </tr>
        </tbody>
    </table>
</div>